body{
	background-color: #68CDD5;
	font-size: 0.9rem;
	font-family: HiraginoSansGB-W3, sans-serif;
	line-height: 1.875rem;
	color: #FFFFFF; 
} 
.back{
     width: 1.5625rem;
     margin-top: 0.625rem;
     margin-left: 0.625rem;
}
.logo{
     width: 7rem;
     margin-top: 1.875rem; 
     text-align: center; 
}
.text{ 
	font-size: 1.2em; 
	margin: 0 auto;
	width: 68vw;
	margin-top: 1.25rem; 
} 
.pic{
	width: 4.5rem;
	top: 70vh; 
	position: absolute;
}
.blue{   
	left: 14vw;  
	text-align: center;   
}
.green{ 
	right: 14vw; 
	text-align: center;    
}